<extend name="Public/base"/>

<block name="style">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
</block>

<block name="body">
    <div class="main-title">
        <h2>提现账号信息</h2>
    </div>
    <form action="{:U('')}" method="post" class="form-horizontal">
        <input type="hidden" name="id" value="{$data.id}">
       <!-- <div class="form-item">
            <label class="item-label">标题</label>
            <div class="controls">
                {$res.title}
            </div>
        </div>-->

        <div class="form-item type">
            <label class="item-label">提现帐号类型</label>
            <div class="controls">
                <switch name="res.type">
                    <case value="1">支付宝</case>
                    <case value="2">银行卡</case>

                </switch>

            </div>
        </div>
         <div  class="form-item zhifubao">
             <label class="item-label">支付宝账号</label>
             <div class="controls">
                 {$res.zhifubao}
             </div>
         </div>
         <div class="form-item bank">
             <label class="item-label">银行名称</label>
             <div class="controls">
                 {$res.bank}
             </div>
         </div>
         <div class="form-item card">
             <label class="item-label">银行卡号</label>
             <div class="controls">
                 {$res.card}
             </div>
         </div>
         <div class="form-item name">
             <label class="item-label">真实姓名</label>
             <div class="controls">
                 {$res.name}
             </div>
         </div>
        <br/><br/><br/><br/><br/>
        <div class="form-item">
            <!--<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>-->
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        var type = '{$res["type"]}';
//        alert(type);
        if(type==1){
            $('.zhifubao').show();
            $('.bank').hide();
            $('.card').hide();
            $('.name').hide();
        }else{
            $('.zhifubao').hide();
            $('.bank').show();
            $('.card').show();
            $('.name').show();
        }
        $(function() {
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
        });
        //上传图片
        /* 初始化上传插件 */
        $("#upload_image").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传图片",
            "uploader"        : "{:U('File/uploadPicture',array('path'=>'activity'))}",
            "width"           : 120,
            'removeTimeout'   : 1,
            'fileTypeExts'    : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadImage,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadImage(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if (data.status) {
                src = data.url || '__ROOT__' + data.path;
                $("#image_path").val(src);
                $("#image_path").parent().find('.upload-img-box').html(
                    '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
        //导航高亮
        highlight_subnav('{:U('Balance/index')}');
    </script>
</block>
